.square{
    height: 20px;
    width: 20px;
    /* border: 2px solid red; */
    background-color: black;
}

.container{
    height: 320px;
    width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

